@use 'src/styles/vars';

.messages {
  padding: 2em;
  flex: 1;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  .message {
    text-align: right;
    margin-bottom: 2rem;

    &__author {
      margin: 0.5rem 1.5rem;
      display: block;
    }

    &__body {
      background-color: vars.$light-color;
      padding: 1.5em;
      display: inline-block;
      border-radius: 2rem;
    }

    &--other {
      text-align: left;
      .message__body {
        background-color: vars.$normal-blue;
        color: vars.$light-color;
      }
    }
  }
}
